@font-face {
  font-family: 'Typewriter';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/typewriter.eot'); /* IE9 Compat Modes */
  src: url('fonts/typewriter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/typewriter.woff') format('woff'), /* Modern Browsers */
       url('fonts/typewriter.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/typewriter.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: Typewriter, serif;
	text-align: center;
	line-height: 1.2em;
	color: rgb(60,50,40);
	padding: 0;
	margin: 0;
}

header {
	background: rgb(237,233,214);

	.icon {
		position: relative;
		max-width: 60px;
		margin: 0 auto 1em;

		svg {
			max-width: 100%;
		}
	}

	h1 {
		max-width: 300px;
		margin: 0 auto;
		// font-family: "aktiv-grotesk-std";
		line-height: 1.2em;
	}
}

.wrapper {
	padding: 5%;
}

ul {
	list-style: none;
	font-size: 1.2em;
	margin: 2em 0 5em;
	padding: 0 0 2em 0;
	border-top: 1px solid rgb(237,233,214);
	border-bottom: 1px solid rgb(237,233,214);

	li {
		padding: 0.4em 0;
		border-bottom: 1px solid rgb(237,233,214);

		> span {
			display: block;
			max-width: 800px;
			margin: 0 auto;
		}
		&:hover {
			background: rgb(237,233,214);
		}

		&.off {
			text-decoration: line-through;
			color: rgb(190,180,170);
		}
	}
}